.Note {
  background: #feff9c;
  width: 10rem;
  height: 10rem;
  text-align: center;
  transform: rotate(-6deg);
  margin: 1em;
  padding: 1em;
  transition: all 0.3s ease;
  z-index: 1;
  position: relative;
  box-shadow: rgba(50,50,93,0.25) 0px 13px 27px -5px , rgba(0,0,0,0.3) 0px 8px 16px -8px;
  display: flex;
  flex-direction: column;
  .note-name{
    font-size: 14px;
    font-weight: 500;
    flex: 1 1 0;
  }
  &:nth-child(even) {
    background: #7afcff;
    position: relative;
    top: 5px;
    transform: rotate(4deg);
  }
  &:nth-child(3n){
      background: #ff7eb9;
      transform: rotate(-3deg);
      top: 5px;
  }
  &:hover {
    transform: scale(1.5);
    transition: all 0.3s ease;
    z-index: 99;
    box-shadow: rgba(50,50,93,0.25) 0px 13px 27px -5px , rgba(0,0,0,0.3) 0px 8px 16px -8px;
  }
}
